<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  <title>single-website</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="./css/main.bundle.css" rel="stylesheet">
</head>
<body>
  <!-- header -->
  <%- include('./_partical/header') %>
  <!-- /header -->

  <!-- section.about -->
  <%- include('./_partical/about') %>
  <!-- /section.about -->

  <!-- section.works -->
  <%- include('./_partical/works') %>
  <!-- /section.works -->

  <!-- section.skills -->
  <%- include('./_partical/skills') %>
  <!-- /section.skills -->

  <!-- section.contact -->
  <%- include('./_partical/contact') %>
  <!-- /setion.contact -->

  <!-- footer -->
  <%- include('./_partical/footer') %>
  <!-- /footer -->
  <script src="./js/top.bundle.js"></script>
</body>
</html>
